@charset "utf-8";
/* css document */

/* ma première feuille de style externe */

/* des styles simples pour visualiser les div pour des fonds de couleur */

/* classes : */
.fond_orange {
    background: orange;
}
.fond_rouge {
    background: red;
}
.fond_vert {
    background: greenyellow;
}
.fond_bleu {
    background: lightblue;
}
.fond_gris {
    background: lightgrey;
}
/* les styles de la page */

body {
    margin: auto; /* margin c'est la marge extérieur d'un élément */
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper {
    width: 998px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
}
/* le haut de page */
header {
    background: url(../img/panorama03.jpg) center top no-repeat;
    height: 480px; 
    /* hauteur de l'élément */
    border: 2px solid white;
}

/* le côté de la page */
aside {
     /* largeur de l'élément */
    width: 278px;
    float: left;
    padding: 10px;
   
}
/* le contenu principale */
#main {
    width: 680px;
    float: right;
    padding: 10px;
}
/* la class pour tout remettre dans le flux normal */
.clear {
    clear: both;
}
    


/* le pied de page */
footer {
    height: 200px;
    border: 20px solid peru;
}