@charset "utf-8";
/* css document */

/* ma première feuille de style externe */

/* des styles simples pour visualiser les div pour des fonds de couleur */

/* classes : */
.fond_orange {
    background: orange;
}
.fond_rouge {
    background: red;
}
.fond_vert {
    background: greenyellow;
}
.fond_bleu {
    background: lightblue;
}
.fond_gris {
    background: lightgrey;
}

/* les styles de la page */

body {
    margin: auto; /* margin c'est la marge extérieur d'un élément */
    /* background-color: bisque; */
    background: linear-gradient(to left, red, orange, green);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper {
    width: 1200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
}
/* le haut de page */
header {
    /* background: url(../img/panorama03.jpg) center top no-repeat; */
    background:  url(../img/panorama03.jpg) center top no-repeat, linear-gradient(lightblue, whitesmoke);
    height: 440px; 
    /* hauteur de l'élément */
    border: 2px solid white;
}
header h1 {
    background-color: white;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
    margin-left: 10%
}
header h1 a {
    text-decoration: none;
    color: #333;
}
header h1 a:hover {
    background-color: #333;
    color: white;
}

/* le côté de la page */
aside {
     /* largeur de l'élément */
    width: 278px;
    float: left;
    padding: 10px;
   }
nav ul li {
    list-style-type: none;
    /* list-style-image: url('../img/globe_fleche.png'); */
}
/* le contenu principale */
#main {
    width: 880px;
    float: right;
    padding: 10px;
}
/* la class pour tout remettre dans le flux normal */
.clear {
    clear: both;
}
    


/* le pied de page */
footer {
    height: 120px;
    /* border: 20px solid peru; */
    margin-bottom: 10px;
}
/* le formulaire sur le CSS */
form {
    background: white;
    padding: 10px;
    width: 80%;
}
fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid olive;
    width: 80%;
}
legend {
    font-weight: 800;
    color: olive;
}
label {
    background-color: red;
    color: white;
    margin-top: 10px;
    display: block; /* permet d'aller à la ligne automatiquement */
    width: 300px;
}
label.inline {
    /* pour styler tous les labels qui ont la class .inline */
    display: inline;
    margin-right: 50px;
}
input, textarea, select {/* pour styler plusieurs éléments et leur donner des attributs communs */
    border: 1px solid olive;
    padding: 3px;
    margin-top: 10px;
    /* box-shadow: 1px 1px 2px gray inset */ /* relief du bouton */ 
}
select {
    margin-top: 5px;
}

/* le tableau */
table { 
    border-collapse: collapse;/* fusionne les bordures stylées ci-après */
}
table, th, td {
    border: 1px solid olive;
}
th, td {
    padding: 10px;
}
tr:hover {/* une pseudo-class :hover au passage de la souris */
    background-color: olive;
}
caption, th, tfoot {
    text-align: left;
    background: red;
    color: whitesmoke;
    padding: 10px;
}
caption {
    caption-side: top;
    text-transform: uppercase;
}
/* différents styles de bordures */
.filetgauche {/* un filet à gauche du bloc */
    border-left: 3px solid blue;
}
.cartouche {/* un essai de bordure avec des coins arrondis */
    border: 1px solid orange;
    border-radius: 50px;/* fait des bords arrondis */
    padding: 25px;
}
/* Les pseudos class sont près de nav si il y en a */

/* les liens ne sont plus souligné par défaut */
a {
    text-decoration: none;
}
/* quand le lien n'est pas visité */
a:link {
    color: orange;
}

/* quand le lien a été visté */
a:visited {
    color: lightseagreen;
}

/* au survole de la souris */
a:hover {
    color: white;
    /* background: orange; */
    text-decoration: underline; /* pour que le soulignement réapparaisse au passage de la souris; pour signifié que c'est un lien et parce qu'on a supprimé le soulignement */
}
/* Ici pour l'astuce au survol dans la page texte */
#survol p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
#survol:hover p {
    display: block;
}
